@media (max-width: 768px) {
    .header {
        width: 100%;
        height: 70px;
        background-color: blueviolet;
        padding-left: 2vw;
        padding-right: 2vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
    }

    .headerObjectBlock {
        width: 45%;
        display: flex;
        flex-direction: row;
    }

    .headerObject {
        color: white;
        height: 7vh;
        width: 50%;
        background-color: blueviolet;
        border: 0px;
        padding-left: 12px;
        padding-right: 12px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .headerObject:hover {
        background-color: white;
        color: black;
    }
}
@media (min-width: 768px) {
    .header {
        width: 100%;
        height: 70px;
        background-color: blueviolet;
        padding-left: 2vw;
        padding-right: 2vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
    }

    .headerObjectBlock {
        width: 17%;
        display: flex;
        flex-direction: row;
    }

    .headerObject {
        color: white;
        height: 7vh;
        width: 50%;
        background-color: blueviolet;
        border: 0px;
        padding-left: 12px;
        padding-right: 12px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .headerObject:hover {
        background-color: white;
        color: black;
    }
}