.header {
    width: 100vw;
    height: 7vh;
    background-color: cornflowerblue;
    padding-left: 2vw;
    padding-right: 2vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.headerObjectBlock {
    display: flex;
    flex-direction: row;
}

.headerObject {
    color: white;
    height: 7vh;
    background-color: #e11010;
    border: 0px;
    padding-left: 12px;
    padding-right: 12px;

    display: flex;
    align-items: center;
}

.headerObject:hover {
    background-color: white;
    color: black;
}