@media (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}
@media (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: none;
    }
}